<% @movies.each do |movie| %>
    
    <table style="width:20%">
  <tr>
    <th><p><%= movie.title %></p></th>
    <th><p><%= movie.description %></p></th>
    <th><p><%= movie.genre %></p></th>
    <th><p><%= movie.original_language %></p></th>
  </tr>
</table>

<%end%>
